<div class="container">
  <div class="left-side">
    <app-profile></app-profile>
  </div>
  <div class="mob-container">
    <div class="mob-container__intro">
      <app-profile></app-profile>
    </div>
  </div>

  <mat-card class="right-side">
    <div class="right-side__container">
      <h2 class="right-side__container__heading">{{ currentRouteName }}</h2>
      <nav class="right-side__nav">
        <ul class="right-side__nav__nav-list">
          <li class="right-side__nav__nav-item">
            <a
              class="right-side__nav__link"
              routerLink="/about-me"
              routerLinkActive="active"
              >About Me</a
            >
          </li>
          <li class="right-side__nav__nav-item">
            <a
              class="right-side__nav__link"
              routerLink="/resume"
              routerLinkActive="active"
              >Resume</a
            >
          </li>
          <li class="right-side__nav__nav-item">
            <a
              class="right-side__nav__link"
              routerLink="projects"
              routerLinkActive="active"
              >Projects</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <mat-card-content class="content custom-scrollbar">
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>


<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__nav__nav-list">
      <li class="footer__nav__nav-item">
        <a
          class="footer__nav__link"
          routerLink="/about-me"
          routerLinkActive="active"
          >About Me</a
        >
      </li>
      <li class="footer__nav__nav-item">
        <a
          class="footer__nav__link"
          routerLink="/resume"
          routerLinkActive="active"
          >Resume</a
        >
      </li>
      <li class="footer__nav__nav-item">
        <a
          class="footer__nav__link"
          routerLink="projects"
          routerLinkActive="active"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
</footer>
